# Server
PORT=3000
NODE_ENV=development

# PostgreSQL (GCP Cloud SQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=task_scheduler_db
DB_USER=postgres
DB_PASSWORD=yourpassword

# GCP
GCP_PROJECT_ID=your-gcp-project-id
GCP_PUBSUB_TOPIC=task-scheduler-topic
GCP_PUBSUB_SUBSCRIPTION=task-scheduler-subscription
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json

# JWT
JWT_SECRET=your_jwt_secret_key

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# C++ Engine
CPP_ENGINE_HOST=localhost
CPP_ENGINE_PORT=8080
